.contact{
  margin-top: 86px;
  min-height: calc(-106px + 100vh);
}
.contact h2,.fa-solid{
  color: rgb(44, 62, 80) ;
}
.line{
  height: 4px;
  width: 80px;
  background-color: rgb(44, 62, 80);
}
.name{
  color: #1abc9c;
  transition: top .6s;
}
._top{
  position: relative;
  color: #1abc9c;
  top:40px !important;
}
.form-control:focus{
  box-shadow: unset;
}
@media screen and (max-width: 768px) {
  .inputs{
      width: 100% !important;
  }
}